{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div>
        <p><div id="msg">Hello</div> world! <strong>{{ boldmessage }}</strong>.</p>
        <p> visits: {{ visits }}</p>
        <img src="{% static 'rango/images/rango.jpg' %}" alt="Picture of Rango" />
        <button onClick="alert('You clicked the button using Javascript.');">
        Click Me - I run Javascript
        </button>
        <button id="about-btn"> Click Me - I'm Javascript on Speed</button>
        <p>This is a example</p>
        <p>This is another example</p>
    </div>
{% endblock %}
